---
interface AboutOfferData {
  phoneDisplay: string;
  phoneUrl: string;
  subtitle: string;
  titleBeforeRotate: string;
  rotatingWords: string[];
  sideBadgeTitle: string;
}

interface Props {
  data: AboutOfferData;
}

const { data } = Astro.props;
const rotating = data.rotatingWords.join(',');
---

<section class="about-us-five-bg fadeIn animated animated-slow">
    <div class="ihbox-style-area">
        <div class="pbmit-ihbox pbmit-ihbox-style-18">
            <div class="pbmit-ihbox-headingicon d-flex align-items-center">
                <div class="pbmit-ihbox-icon">
                    <div class="pbmit-ihbox-icon-wrapper pbmit-icon-type-icon">
                        <i class="pbmit-base-icon-phone-volume-solid-1" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="pbmit-ihbox-contents">
                    <h2 class="pbmit-element-title">
                        <a class="pbmit-button-inner" href={data.phoneUrl}>
                            <span class="pbmit-button-wrapper">
                                <span class="pbmit-button-text">{data.phoneDisplay}</span>
                            </span>
                        </a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xl-8">
                <div class="pbmit-heading-subheading animation-style4">
                    <h4 class="pbmit-subtitle">{data.subtitle}</h4>
                    <h2 class="pbmit-title">{data.titleBeforeRotate}<span id="js-rotating">{rotating}</span></h2>
                </div>
            </div>
            <div class="col-md-12 col-xl-4">
                <div class="d-flex justify-content-center w-100">
                    <div class="pbmit-ihbox-style-21">
                        <div
                            class="pbmit-ihbox-contents d-flex align-items-center justify-content-center"
                            style="padding: 0 12px; box-sizing: border-box;"
                        >
                            <h2 class="pbmit-element-title mb-0 text-center" style="font-size: 26px; line-height: 1.2;">
                                {data.sideBadgeTitle}
                            </h2>
                        </div>
                        <div class="pbmit-ihbox-content-area"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
