---
import { Image } from 'astro:assets';
import { resolveImage } from '../../lib/images';
import type { BlogPost } from '../../data/home';

interface BlogData {
  subtitle: string;
  title: string;
  posts: BlogPost[];
  seeAllLabel: string;
  seeAllUrl: string;
}

interface Props {
  data: BlogData;
}

const { data } = Astro.props;
---

<section class="section-lgb">
    <div class="container">
        <div class="pbmit-heading-subheading text-center animation-style3">
            <h4 class="pbmit-subtitle">{data.subtitle}</h4>
            <h2 class="pbmit-title">{data.title}</h2>
        </div>
        <div class="swiper-slider" data-autoplay="false" data-loop="true" data-dots="false" data-arrows="false" data-columns="3" data-margin="30" data-effect="slide">
            <div class="swiper-wrapper">
                {data.posts.map((post) => (
                    <article class="pbmit-ele-blog pbmit-blog-style-1 swiper-slide">
                        <div class="post-item">
                            <div class="pbminfotech-box-content">
                                <div class="pbmit-featured-container">
                                    <div class="pbmit-featured-img-wrapper">
                                        <div class="pbmit-featured-wrapper">
                                            <Image src={resolveImage(post.imagePath)} class="img-fluid" alt={post.imageAlt} loading="lazy" />
                                        </div>
                                    </div>
                                    <a class="pbmit-blog-btn" href={post.url} title={post.title}>
                                        <span class="pbmit-button-icon">
                                            <i class="pbmit-base-icon-pbmit-up-arrow" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                    <a class="pbmit-link" href={post.url}></a>
                                </div>
                                <div class="pbmit-content-wrapper">
                                    <div class="pbmit-date-wraper d-flex align-items-center">
                                        <div class="pbmit-meta-date-wrapper pbmit-meta-line">
                                            <div class="pbmit-meta-date">
                                                <span class="pbmit-post-date">
                                                    <i class="pbmit-base-icon-calendar-3" aria-hidden="true"></i>{post.dateLabel}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="pbmit-meta-author pbmit-meta-line">
                                            <span class="pbmit-post-author">
                                                <i class="pbmit-base-icon-user-3" aria-hidden="true"></i><span>Автор:</span>{post.authorLine}
                                            </span>
                                        </div>
                                    </div>
                                    <h3 class="pbmit-post-title">
                                        <a href={post.url}>{post.title}</a>
                                    </h3>
                                    <div class="pbminfotech-box-desc">
                                        {post.excerpt}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                ))}
            </div>
        </div>
        <div class="mt-5 text-center">
            <a class="pbmit-btn pbmit-btn-outline" href={data.seeAllUrl}>
                <span class="pbmit-button-content-wrapper">
                    <span class="pbmit-button-text">{data.seeAllLabel}</span>
                </span>
            </a>
        </div>
    </div>
</section>
